<!-- -------------------- second ------------------- -->
<!-- <h1 style="text-align: center;">Queations</h1>

<form action="getValues" method="POST">
    {% csrf_token %}
    <div>
    <h2>Q.1  How Many keywords in python</h2>
    <li  style="list-style-type: none;">
        <input type="radio" value="false" name="q1">
        <label3></label3>32</label><br>
        <input type="radio" value="true" name="q1">
        <label3></label3>33</label><br>
        <input type="radio" value="false" name="q1">
        <label3></label3>52</label><br>
        <input type="radio" value="false" name="q1">
        <label3></label3>42</label><br>
       
    </li>
</div>
    <div>
    <h2>Q.2  full form of OOP</h2>
    <li  style="list-style-type: none;">
        <input type="radio" value="true" name="q2">
        <label3></label3>Object Oriented programming</label><br>
        <input type="radio" value="false" name="q2">
        <label3></label3>object original program</label><br>
        <input type="radio" value="false" name="q2">
        <label3></label3>original ojbect program</label><br>
        <input type="radio" value="false" name="q2">
        <label3></label3>none ot these</label><br>
    </li>
</div><br>

  <input type="submit" value="submit">

 
<h2>{{ error }}</h2>

<h1>your score {{score}}</h1>
</form>
 -->


<!-- ------------------ first ----------------- -->

   <!-- <label for="">Name</label> <input type="text" name="name">
   <h2>Your name is {{name}}</h2> -->
   <!-- <h3>Select your country</h3>
   <label for="india">India</label>
   <input type="radio" value="India" name="country"> <br>

   <label for="india">Japan</label>
   <input type="radio" value="Japan" name="country"> <br>

   <label for="india">Turky</label>
   <input type="radio" value="Turky" name="country"> <br>

   <label for="india">Chaina</label>
   <input type="radio" value="Chaina" name="country"> <br>
   
   
   <input type="submit" value="submit">
   <h3>Your selected country is {{  country }}</h3> -->

